@font-face {
  font-family: NorseBold;
  src: url("../fonts/Norse-Bold.otf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

body {
  display: flex;
  background-image: url("../images/background.jpg");
  font-family: Roboto-Medium;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.left .left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.left .left-top .logo-background {
  display: flex;
  gap: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100px;
  color: white;
  font-size: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  font-family: NorseBold;
}

.left .left-top .logo-background .logo {
  width: 50px;
  display: inline;
}

.left .left-bottom {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: end;
}

.left .left-bottom .image-credits {
  color: white;
  padding-bottom: 20px;
  font-size: 15px;
}

.image-credits a {
  color: white;
}

.image-credits a:visited {
  text-decoration: inherit;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  background: white;
  padding: 100px;
  font-size: 20px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-form .form-row-one {
  display: flex;
  gap: 100px;
  padding-bottom: 10px;
}

label {
  font-size: 12px;
}

input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #000;
}

input:focus {
  outline-style: none;
  border: 1px solid blue;
  box-shadow: 1px 1px black;
}

.sign-up-form .form-row-three div input:invalid {
  border: 1px solid red;
}

.sign-up-form .form-row-two {
  display: flex;
  gap: 100px;
  padding-bottom: 10px;
}

.sign-up-form .form-row-three {
  display: flex;
  gap: 100px;
}

.create-account-button {
  padding-top: 50px;
}

.create-account-button .message {
  margin-top: 20px;
  font-size: 15px;
}

.create-account-button button {
  background-color: #596d48;
  color: white;
  font-family: Roboto-Medium;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 0px;
}

.create-account-button a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}
